* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

body {
  padding: 20px;
  min-height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #253749;
  font-family: Arial, sans-serif;
}

.token-form,
.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-list {
  margin-top: 20px;
}

.btn {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #1478bb;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #3990a9;
}

.btn:disabled {
  background-color: #999999;
  color: white;
  cursor: not-allowed;
  opacity: 0.4;
}